*{
  margin: 0;
  padding: 0;
}
.app{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-doc{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.form-input{
  margin-top: 10px;
}
.form-input{
  padding: 8px;
  border-radius: 5px;
}
.submit{
  background-color: rgb(77, 62, 57);
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.submit > p{
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 0.18rem;
  font-weight: 700;
}
.diagnosis_wrapper{
  margin-top: 10px;
}
.diagnosis{
  font-weight: 700;
  font-size: 25px;
}